
use component("digital/amp_controller","digital","trunk")
use component("digital/spdif_decoder","digital","trunk")
use component("digital/usb_codec","digital","trunk")

use component("digital/pll_fpga","digital","trunk")
use component("digital/i2c_if","digital","trunk")
use component("digital/rb_se_audio_system","digital","trunk")
use component("digital/interpolation_filter","digital","trunk")
use component("digital/interpolation_filter_x2","digital","trunk")
use component("digital/mixer_fixed","digital","trunk")
use component("digital/clock_manager","digital","trunk")
use component("digital/sigma_8bp","digital","trunk")
use component("digital/bpsdm4","digital","trunk")
use component("digital/sine_gen","digital","trunk")
use component("digital/sine_mod","digital","trunk")

use component("digital/rate_conv","digital","trunk")
use component("digital/rate_conv_fifo","digital","trunk")

use component("digital/phase_shift","digital","trunk")
use component("digital/audio_generator","digital","trunk")
